body {
    font-family: "Young Serif", serif;
    ;
}

* {
    padding: 0;
    margin: 0;
}

.section-one {
    background-color: rgb(105, 182, 18);
    color: white;
    padding: 20 px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact {
    background-color: aliceblue;
    color: black;
    text-decoration: none;
    padding-bottom: 50px;
}

.section-one,
section-two,
section-three,
section-four,
section-five {
    padding: 30px;
}

.section-two,
.section-three,
.section-four,
.section-five {
    padding: 20px;

}

.section-two__title {
    background-color: rgb(88, 208, 86);
}

.section-three {
    background-color: rgb(25, 206, 67);
    color: beige;
    height: 200px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    margin-left: 10px;
    vertical-align: top;
}

.section-three__desc {
    padding: 10px;
    text-decoration: none;
}

.section-four {
    background-color: rgb(63, 141, 129);
    color: whitesmoke;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: inline-block;
    padding: 20px;
    height: 200px;
    vertical-align: top;
    border-radius: 20px;
}

.section-five__desc {
    background-color: rgb(55, 127, 135)
}

.section-five {
    background-color: rgb(117, 194, 211);
}

.section-three,
.section-four__li {
    list-style: none;
}

.section-five__title {
    color: beige;
}

.section-five__head {
    color: black;
}

.section-five__desc {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.contact-form {
    margin-top: 20px;
}

.contact-form__input,
.contact-form__textarea,
.contact-form__submit {
    margin-top: 20px;
}

.contact-form__input {
    padding: 10px;
    border: none;
    border: solid rgb(71, 134, 157) 1px;
}

.contact-form__textarea {
    padding: 10px;
    border: 1px;
    border: solid rgb(73, 140, 173) 1px;
}

.contact-form__submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(10, 85, 107);
    color: beige;
    border: none;
    border-radius: 1px;

}
.section-six__desc {
    background-color: rgb(11, 94, 101)
}

.section-six {
    padding: 20px;
    background-color: rgb(10, 130, 90);
    border-radius: 20px;
}
.section-six__desc {
    padding: 10px;
    border-radius: 10px;
}
.section-six__title{
    background-color: rgb(123, 170, 199);
    color: white;
    display: inline;
}
.section-six__in{
    color: white;
}
.profile {
  position: relative;
  top: -90px; /* moves the image up */
  width: 140px; 

}
.profile-container {
    display: flex;
    justify-content: left;  /* center horizontally */
    align-items: flex-start;  /* align at the top */
    padding-top: 20px;
}